{% extends "teams.html" %} {% block teams %}
<div>
  <div>
    <h3>Real Madrid</h3>
    <img src="https://media.api-sports.io/football/teams/541.png" />
  </div>
  <div>
    <h5>Previous Fixture</h5>
    <span>Atletico Madrid <em>0</em> : <em>2</em>Real Madrid</span>
  </div>
  <div>
    <h5>Upcoming Fixture</h5>
    <span>Real Madrid VS Granada</span>
  </div>
  <form action="/addteam" method="post">
    <input type="hidden" value="team" name="team_id" />
    <button type="submit">Add to my teams</button>
  </form>
</div>
{% endblock %}
