{% extends "teams.html" %} {% block teams %} {% if not team %}
<h5>No team found with your search criteria.</h5>
{% else %}
<div class="team-card">
  <div class="main-container">
    <div class="team-header">
      <img class="team-logo-main" src="{{team["team_logo"]}}"/>
      <span class="team-title">{{team["name"]}}</span>
    </div>
    <div class="previous-fixture">
      <span class="small-title">Previous Fixture</span>
      <span class="small-info"
        >{{last[0]["home"]["name"]}} <em>{{last[0]["score"]["home"]}}</em> :
        <em>{{last[0]["score"]["away"]}}</em>
        {{last[0]["away"]["name"]}}</span
      >
      <span class="match-time">{{last[0]["date"] | dt}}</span>
    </div>
    <div class="upcoming-fixture">
      {% if not next %}
      <span class="mid-info">No upcoming fixtures.</span>
      {% else %}
      <span class="mid-title">Upcoming Fixture</span>
      <span class="mid-info"
        >{{next[0]["home"]["name"]}} VS {{next[0]["away"]["name"]}}</span
      >
      <span class="match-time">{{next[0]["date"] | dt}}</span>
      {% endif %}
    </div>
    <form action="/addteam" method="post">
      <input type="hidden" value="{{team["team_id"]}}" name="team_id" />
      <button class="custom-button" type="submit">Add to my teams</button>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
