{% extends "layout.html" %} {% block title %} - Log In {% endblock %} {% block
main%}
<div
  class="
    container
    col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10
    px-5
    py-4
    custom-container
  "
>
  <form action="/login" method="post">
    <div class="mb-4">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
        name="username"
        autofocus
        autocomplete="off"
      />
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
      />
    </div>
    <div>
      <button type="submit" class="custom-button">Log In</button>
    </div>
  </form>
</div>
{% endblock %}
